
.designHeader {
    height: 20vh;

    background-color: rgb(0, 0, 0);

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerSpace {
    width: 33vw;
    height: 20vh;

}

.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    margin-bottom: 1em;
}

.link:hover {
    font-weight: bold;
    cursor:pointer;
}


.icon {
    height: 60%;
}